---
InheritParentConfig: true

Checks: >
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-function-cognitive-complexity,

CheckOptions:
  - key: misc-include-cleaner.IgnoreHeaders
    value: 'catch_all\.hpp'